body {
  margin: 0;
  padding: 0;

  font-family: "Lora";
  background-color: rgb(250, 243, 203);
}

.container {
  text-align: center;
}

.grid {
  display: grid;
  text-align: center;

  grid-template-columns: 1fr;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 550px) {
  .grid {
    display: grid;
    text-align: center;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr;
  }
}

.para {
  font-size: 1.5rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  font-family: "Courier New", Courier, monospace;
}
.cntr {
  text-align: center;
}
.imagedropshadow1 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow1 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(182, 49, 49);
}
.imagedropshadow2 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow2 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(28, 6, 88);
}

.imagedropshadow3 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow3 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(2, 145, 21);
}

.imagedropshadow4 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow4 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(201, 184, 36);
}

.imagedropshadow5 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow5 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(9, 151, 156);
}

.imagedropshadow6 {
  padding: 5px;
  border: solid 1px #efefef;
}
a:hover img.imagedropshadow6 {
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 3px 3px 5px rgb(135, 18, 170);
}
